.remove-fav {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgba(36, 36, 36, 0.555);
 
}
.remove-fav:hover {
  color: white;
  background-color: rgb(0, 0, 0);
}
.remove-fav,
.remove-fav:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important ;
}
