.HomePage {
  padding-left: 27px;
  background-color: rgb(255, 255, 255);
}
.MovieCard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
