.App {
  text-align: center;
  display: flex;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important ;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w2-hover {
  position: absolute;
  color: white !important;
  bottom: 0px;
  right: 0px;
  background-color: transparent;
  z-index: 3;
}

.round-border {
  border-radius: 1rem;
}
.toggleMS button{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  padding-bottom: 2px;
}

.toggleMS .btn1{
  border-right: none !important;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  box-shadow: inset 0px 0px 2px 0px rgba(43, 43, 43, 0.582);
}
.toggleMS .btn2{
  border-left: 1px solid black !important;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
.img-wh {
  min-width: 200px;
  max-width: 200px;
  min-height: 300px;
  max-height: 300px;
}

.title-rd-hover {
  transition: all 2s ease !important;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.titleEditor {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 200px;
  max-width: 200px;
}

.movieColor {
  background-color: #F93822FF;
  color: white;
}
.showColor {
  background-color: #FDD20EFF;
  color: white;
}
